
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Contenedor */

.contenedor {
	width: 100%;
	min-height: 100vh;
	background: white;
}

/* Barra de Navegacion */

.navbar {
	width: 100%;
	height: 60px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	background: #0a0b0c;
}
.logo-cesar {
	color: white;
	margin: 0 40px;
	font-size: 0,9rem;
	font-weight: 700;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.items-navbar{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	font-size: 0.9rem;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.items-navbar a {
	text-decoration: none;
	color:  white;
}
.items-navbar::before {
	content: "";
	height: 3px;
	width: 0%;
	background: gray;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.4s ease-out;
}
.items-navbar:hover::before {
	width: 100%;
}

/* Contenedor sub navbar */

.contenedor_sub-navbar {
	width: 100%;
	height: 365px;
	background: #0a0b0c;
	text-align: center;
}
.contenedor_sub-navbar > .borde-image {
	margin: auto;
	overflow: hidden;
	width: 250px;
	height: 250px;
	border:  2px solid #00000000;
	border-radius: 50%;
	margin-bottom: 15px;
}
.contenedor_sub-navbar img {
	width: 100%;
	height: 100%;
}
.contenedor_sub-navbar > h1 {
	color : #fff;
	font-weight: 900;
	margin-bottom: 5px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor_sub-navbar > h2 {
	color : #fff;
	font-weight: 300;
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Contenido de la pagina*/

.contenedor-page {
	width: 100%;
	height: 700px;
	background-image: url("../images/wallpaperpage.jpeg");
	background-size: cover;
	background-position: center;
}
.contenedor-informacion {
	width: 70%;
	height: 600px;
	border:2px #bebebe;
	border-style: solid;
	border-radius: 2%;
	background-color: rgba(255, 255, 255, 0.7);
	margin: auto;
	text-align: center;
}
.margin {
	height: 50px;
}
.contenedor-informacion > .titulo {
    padding: 20px 0px 20px 0px;
    font-size: 50px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor-informacion > .parrafo {
	font-size: 20px;
	font-weight: 400;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenedor-informacion > .borde {
	margin: auto;
	overflow: hidden;
	width: 200px;
	height: 200px;
	border:  2px solid #00000000;
	border-radius: 50%;
	margin: 15px;
}
.contenedor-informacion > img {
	width: 100%;
	height: 100%;
}